# Byte-compiled / optimized / DLL files
__pycache__/

# Mac OS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*/logs.log

# Audio files (too large for Git)
*.mp3
*.m4a
*.wav
*.aac
*.ogg

# Large data files
*.zip
*.tar.gz
*.rar




